/* --- Variables (Theme) --- */
:root {
    --main-bg-color: #000;
    --secondary-bg-color: #333;
    --primary-color: #fff;
    --accent-color: #f00;
    --play-button-dimension: 50px;
    --stop-button-dimension: 50px;
    --control-button-dimension: 20px;
    --box-shadow-style: 0 0 10px var(--main-bg-color) inset;
    --margin-style: 10px;
    --default-font: Arial, sans-serif;
    --step-button-dimension: 20px;
    --sequence-light-dimension: 20px;
}

/* --- Global Styles --- */
body {
    background-color: var(--main-bg-color);
    color: var(--primary-color);
    font: normal normal normal 100%/1 var(--default-font);
}

/* --- Drum Machine Container --- */
#drum-machine {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: var(--secondary-bg-color);
    border: 5px solid var(--main-bg-color);
}

/* --- Headers & Text Elements --- */
h1 {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

h3 .subtext {
    font-size: 0.8em;
    opacity: 0.7;
}

h3:hover .subtext {
    font-size: 1em;
    opacity: 0.5;
}

/* --- Buttons & Controls --- */
.button {
    border: none;
    background-color: var(--primary-color);
    cursor: pointer;
    box-shadow: var(--box-shadow-style);
}

h1 .button {
    padding: 10px;
    color: var(--main-bg-color);
    font-size: 1em;
}

.control-button {
    width: var(--control-button-dimension);
    height: var(--control-button-dimension);
}

.play-button, .stop-button {
    position: relative;
    top: 0px; /* Consider removing if not necessary */
}

.play-button {
    width: var(--play-button-dimension);
    height: var(--play-button-dimension);
}

#play.selected {
    background-color: #00ff00;
}

.stop-button {
    width: var(--stop-button-dimension);
    height: var(--stop-button-dimension);
}

.button-label.stop {
    color: #ff0000; /* Red */
}

#stop.selected ~ #play, .stop-button:active, .stop-button.selected {
    background-color: var(--accent-color);
}

/* --- Channel Elements --- */
.channel {
    display: flex;
}

.step-button {
    margin-top: 0px;
    position: relative;
    width: 15px;
    flex: 1 1 auto;
    height: var(--step-button-dimension);
    background-color: #555;
    color: #fff;
}


/* --- Containers & Layout --- */
.steps-container {
    flex-wrap: wrap;
    gap: 0px;
    margin: 0px 0;
}

.button-container, .subtext-container {
    display: flex;
    align-items: center;
}

.channel-controls {
    margin-top: 10px;
}

/* --- Text Elements & Typography --- */
.title {
    font-size: 40px;
}

.small-text, .smaller-text {
    font-size: 20px;
}

.larger-text {
    font-size: 1.5em;
}

.bright-orange {
    color: #f7931a;
}

.centered, .centered-text {
    display: block;
    text-align: center;
}

/* --- Button Specific Styles --- */
#play {
    animation: flash 2s infinite ease-in-out;
}

#play.selected, 
#stop.selected ~ #play {
    animation: none;
}

#stop.selected ~ #play, .step-button.selected, .mute-button.selected {
    background-color: var(--accent-color);
}

.clear-button {
    background-color: #ff0;
}

.mute-button {
    background-color: #800;
}

.solo-button {
    background-color: rgb(253, 204, 114);
}

.solo-button.selected {
    background-color: darkorange;
}

.load-sample-button {
    flex: 1;
    overflow: auto;
    text-overflow: ellipsis;
    font-size: 0.5em;
    height: 20px;
    padding: 5px;
}

.load-sample-button:hover::after {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--primary-color);
    color: var(--main-bg-color);
    z-index: 1;
}

.step-button:nth-child(16n+1) {
    background-color: #ffff00; /* yellow */
}

.step-button:nth-child(4n+1):not(:nth-child(16n+1)) {
    background-color: #add8e6; /* light blue */
}

.step-button.playing {
    box-shadow: 0 0 10px rgb(150, 150, 150) inset;
}

.step-button.playing.selected {
    box-shadow: 0 0 10px rgb(150, 1, 1) inset;
}

/* --- Animations --- */
@keyframes flash {
    0%   { background-color: var(--primary-color); }
    50%  { background-color: #00ff00; }
    100% { background-color: var(--primary-color); }
}

/* --- Button and Container Styles --- */
.new-button-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: right;
}

.new-button {
    padding: 10px 20px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 0.75em;
    font-weight: bold;
    box-shadow: var(--box-shadow-style);
    cursor: pointer;
    margin-left: auto;
}

.new-button-subtext {
    display: block;
    font-size: 1em;
    color: var(--primary-color);
    opacity: 0.7;
}

/* --- Mode Switcher Styles --- */
.mode-switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

.mode-switcher label {
    margin-right: 10px;
}

.mode-switcher input[type="checkbox"] {
    appearance: none;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.mode-switcher input[type="checkbox"]:checked {
    background-color: #2196f3;
}

.mode-switcher input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.2s ease;
}

.mode-switcher input[type="checkbox"]:checked::before {
    transform: translateX(20px);
}

/* --- Steps and Sequence Light Styles --- */
#steps-container, #sequence-lights {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-left: 10%;
}

.sequence-light, .step-button {
    grid-column: span 1;
    width: var(--step-button-dimension);
}

.sequence-light {
    height: 15px;
    background-color: grey;
}

.sequence-light.on {
    background-color: greenyellow;
}

/* --- Tooltip Styles --- */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    max-width: 150px; /* Reduce the width */
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 5px; /* Reduce the padding */
    position: absolute;
    z-index: 1;
    bottom: -15%; /* Adjust the position */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px; /* Reduce the font size */
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0;
}


