/* Import other CSS files */
/* Import other CSS files */
@import 'STYLES/variables.css';          /* Import variables and global styles */
@import 'STYLES/drumMachine.css';        /* Import drum machine container styles */
@import 'STYLES/headersTextElements.css'; /* Import headers and text elements styles */
@import 'STYLES/buttonsControls.css';     /* Import buttons and controls styles */
@import 'STYLES/samplePlayButtons.css';    /* Import sample play buttons and name styles */
@import 'STYLES/channelElements.css';      /* Import channel elements styles */
@import 'STYLES/containersLayout.css';      /* Import container layout styles */
@import 'STYLES/buttonSpecificStyles.css'; /* Import button specific styles */
@import 'STYLES/stepsSequenceLightStyles.css'; /* Import Steps and Sequence Light Styles */
@import 'STYLES/modeSwitcherStyles.css';      /* Import Mode Switcher Styles */
@import 'STYLES/lowerButtonStyles.css'; /* Import Lower Button and Container Styles */
@import 'STYLES/quickplayButtons.css'; /* Import Quick Play Buttons Styles */

/* --- Channel Elements --- */
.channel {
    width: 92vw; /* You can adjust this value as needed */
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.ordinal-loaded {
    border: 2px solid #f7931a; /* or whatever shade of orange you prefer */
}

.color-picker {
    display: none;
    position: absolute;
    border: 1px solid #000;
    width: 100px;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    z-index: 1000; /* or any high value */
}

.color-option {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.play-mode-container {
    margin-left: 50px; /* Adjust margin as needed */
}

.play-mode-text {
    margin-right: 10px;
    color: black;
}
.play-mode-checkbox {
    display: none;
  }
  
  .play-mode-button {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    color: black;
    background-color: #7b7b7b; /* Default grey background */
    transition: background-color 0.3s;
}

/* When Loop is selected (checkbox is not checked) */
.play-mode-checkbox:not(:checked) + .loop-label {
    background-color: #ffffff; /* White background */
}

.play-mode-checkbox:not(:checked) + .loop-label + .continuous-label {
    background-color: #7b7b7b; /* Grey background */
}

/* When Continuous is selected (checkbox is checked) */
.play-mode-checkbox:checked + .loop-label {
    background-color: #7b7b7b; /* Grey background */
}

.play-mode-checkbox:checked + .loop-label + .continuous-label {
    background-color: #ffffff; /* White background */
}

.save-load-buttons-container {
    position: absolute;
    bottom: 50px;
    right: 0;
    left: 88vw;
    margin: 10px;
}


