/* --- Containers & Layout --- */
.steps-container {
    flex-wrap: wrap;
    gap: 0px;
}

.button-container, .subtext-container {
    display: flex;
    align-items: center;
}

.step-button:nth-child(4n+1):not(:nth-child(16n+1)) {
    background-color: #add8e6; /* light blue */
}

.step-button:nth-child(16n+1) {
    background-color: #ffff00; /* yellow */
}

/* Increase specificity for selected state to override nth colors */
.step-button.selected,
.step-button.selected:nth-child(4n+1):not(:nth-child(16n+1)),
.step-button.selected:nth-child(16n+1) {
    background-color: var(--accent-color);
}

.step-button.playing {
    box-shadow: 0 0 10px rgb(150, 150, 150) inset;
}

.step-button.playing.selected {
    box-shadow: 0 0 10px rgb(150, 1, 1) inset;
}

.step-button {
    position: relative;
    width: var(--step-button-max-width);  /* Set the width */
    height: var(--step-button-max-width);  /* Set the height equal to the width */
    background-color: #555;
    color: #fff;
    max-width: var(--step-button-max-width);
    max-height: var(--step-button-max-height);
}

.channel-controls {
    margin-top: 0px;
}
