/* --- Variables (Theme) --- */
:root {
    --scale-factor: 1vw;
    --main-bg-color: #000;
    --secondary-bg-color: #333;
    --primary-color: #fff;
    --accent-color: #f00;
    --button-dimension: 50px;
    --control-button-dimension: 18px;
    --step-button-max-width: 18px;
    --step-button-max-height: calc(18px * var(--scale-factor));    
    --box-shadow-style: 0 0 10px var(--main-bg-color) inset;
    --default-font: Arial, sans-serif;
}
@media (max-width: 1200px) {
    #main-container {
        transform: scale(0.9);
    }
}

@media (max-width: 1000px) {
    #main-container {
        transform: scale(0.8);
    }
}

@media (max-width: 800px) {
    #main-container {
        transform: scale(0.7);
    }
}

@media (max-width: 600px) {
    #main-container {
        transform: scale(0.6);
    }
}

/* --- Global Styles --- */
body {
    background-color: var(--main-bg-color);
    color: var(--primary-color);
    font: normal normal normal 100%/1 var(--default-font);
}
